black
faiss-cpu
ipykernel
isort
kaggle
langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-pinecone
langchain-tavily
langchain-text-splitters
langchainhub
langsmith[claude-agent-sdk]
ollama
pydantic
python-dotenv
tavily